.index_body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.index_body-red{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: red;
}

.index_body-blue{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: blue;
}

.index_body-green{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: green;
}

.index_body-yellow{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: yellow;
}



.index_header{
    width: 95%;
    height: 50px;
    background-color: rgb(128, 205, 243);
    box-shadow: 
        0px 0px 3px rgb(9, 110, 232),
        0px 0px 15px rgb(73, 186, 238);

}

.index_header h1{
    text-align: center;
    font-size: 25px;
    color: rgb(1, 39, 115);
    
}


.mensaje{
    font-size: 18px;
    text-align: center;
}

.index_main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
    margin-top: 55px;
    background-color: rgba(161, 239, 234, 0.4);



}

.index_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    padding: 15px;
    margin: 20px;
    box-shadow: 
        0px 0px 3px rgb(9, 110, 232),
        0px 0px 15px rgb(73, 186, 238);
        background-color: rgb(128, 205, 243);

}




.index_section h1{
    text-align: center;
    text-transform: uppercase;
    color: rgb(1, 39, 115);
}

.div__form{
    padding: 10px 0;
    margin: 3px 0;

}

.div__form__input{
    width: 100%;
    height: 30px;
    margin-right: 10px;
    border: none;
    border-bottom: 2px solid rgb(1, 39, 115);
    outline: none;
    font-size: 22px;

}


.div__form__small{
    color: red;
}

.button_cont{
    text-align: center;
    background-color: none;
}

.div__button{
    background-color: rgb(1, 39, 115);
    color: white;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px;
   
}

.div__button:hover{
    background-color: rgb(4, 93, 247);
    color: rgb(250, 251, 251);


}